.cases-list-page .ant-card-head {
  padding: 16px;
}

.cases-table-container {
  border-left: none;
  border-right: none;
}

.cases-table-container .ant-card-body {
  padding: 0;
  margin: 0;
}

.cases-table-container .ant-pagination {
  padding: 0 16px;
}

.cases-table .ant-table-tbody > tr {
  cursor: pointer;
}

.cases-title {
  margin: 0 16px 0 0;
  align-items: start;
  line-height: inherit;
  padding: 16px 0 8px;
}

.cases-search-container {
  padding: 0 16px 0 0;
}

.cases-link-button {
  margin-left: 16px;
}
