.cases-table-container .ant-card-body {
  padding: 16px 24px 0;
  margin: 0;
}

.cases-table .ant-table-tbody > tr {
  cursor: pointer;
}

.cases-title {
  margin: 0 16px 0 0;
  align-items: start;
  line-height: inherit;
  padding: 16px 0 8px;
}

.cases-title-container {
  padding: 0;
}

.cases-search-container {
  padding: 0 16px 0 0;
}

.cases-link-button {
  margin-left: 16px;
}
