.outlet-layout {
  height: 100vh;
}

.outlet-header {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3.outlet-title {
  margin: 0;
}

.outlet-header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}
