.case-title {
  margin: 0 16px 0 0;
  align-items: start;
  line-height: inherit;
  padding: 16px 0 8px;
}

.case-title-container {
  padding: 0;
}

.case-link-button {
  margin-left: 24px;
}

.case-container {
  margin-bottom: 16px;
}

.files-title {
  text-align: left;
}

.case-details-table {
    padding-right: 16px;
}

.case-details-row {
  margin-bottom: 16px;
}

.case-details-row .ant-card {
  height: 100%;
}

.case-card-footer-container {
  margin-top: 16px;
  text-align: right;
  column-gap: 16px;
  display: inline-flex;
  justify-content: end;
  width: 100%;
}
